.popup-sucees{
    background-color: #bbf3ba;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 5px;
    padding: 2px; 
    border-color: #ccc;
   
}
.popup-delete{
    background-color: #bbf3ba;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 5px;
    padding: 2px; 
    border-color: #ccc;
   
}